.App {
  text-align: center;
}

.btn {
  display: flex;
  width: 60%;
  margin: auto;
}

.btn > button {
  margin-right: 10px;
  outline: none;
  background-color: rgba(154, 235, 194, 0.75);
  border: none;
  padding: 20px;
  width: 60%;
  font-size: 70px;
}